html,
body {
  height: 100%;
  margin: 0;
}

.container1 {
  width: 1000px;
  background-color: violet;
}

.container2 {
  width: 60%;
  height: 80%;
  background-color: yellow;
}

.container2 .msg {
  width: 50%;
  background-color: red;
}

.container3 {
  width: 60vw;
  height: 50vh;
  background-color: chartreuse;
}

.container3 .msg {
  width: 50vw;
  height: 50vh;
  background-color: red;
}
