.kutu {
  width: 100px;
  height: 100px;
  float: left;
}

.kutu1 {
  background-color: chocolate;
  width: 20%;
}

.kutu2 {
  background-color: rgb(139, 20, 130);
  width: 60%;
}

.kutu3 {
  background-color: rgb(31, 156, 14);
  width: 20%;
}

.kutu4 {
  background-color: rgb(155, 25, 25);
}
.kutu5 {
  background-color: coral;
}
.clearfix {
  clear: both;
}
