.hizalama1 {
  background-color: violet;
  text-align: center;
}

.hizalama1 b {
  background-color: rgb(41, 165, 72);
}

.hizalama2 {
  background-color: rgb(26, 14, 141);
}

.hizalama2 p {
  background-color: tomato;
  width: 30%;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
