.kutu {
  width: 10vw;
  height: 10vw;
}

.kutu1 {
  background-color: red;
  position: relative;
  z-index: 3;
}

.kutu2-container {
  position: relative;
}

.kutu2 {
  background-color: rgb(22, 22, 73);
  position: absolute;
  left: 10rem;
  top: 1rem;
}

.kutu3 {
  background-color: rgb(48, 150, 7);
  position: fixed;
  right: 2rem;
  bottom: 2rem;
}

.kutu4 {
  background-color: rgb(139, 12, 108);
  position: sticky;
  top: 2rem;
}
